# SPDX-License-Identifier: Apache-2.0
# Licensed to the Ed-Fi Alliance under one or more agreements.
# The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
# See the LICENSE and NOTICES files in the project root for more information.

name: Run Single Audit
on:
  workflow_dispatch:
    inputs:
      organization:
        type: choice
        description: Organization
        options:
        - Ed-Fi-Exchange-OSS
        - Ed-Fi-Alliance-OSS
        - Ed-Fi-Closed
        required: true
      repository:
        type: string
        description: Name of repository to analyze
        default: ''
        required: true

env:
  PERSONAL_ACCESS_TOKEN: ${{ secrets.EDFI_BUILD_AGENT_PAT }}

permissions:
  actions: read
  contents: read
  pull-requests: read
  security-events: read

jobs:
  audit:
    name: Audit organization or repository
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: edfi-repo-auditor

    steps:

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Poetry
        run: pipx install poetry

      - name: Install Python 3.12
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install

      - name: Determine repository details
        id: repo-info
        run: |
          echo "organization=${{ github.event.inputs.organization }}" >> $GITHUB_OUTPUT
          echo "repository=${{ github.event.inputs.repository }}" >> $GITHUB_OUTPUT
          echo "Auditing repository: ${{ github.event.inputs.organization }}/${{ github.event.inputs.repository }}"

      - name: Run the auditor
        run: |
          poetry run python edfi_repo_auditor/__main_github_actions__.py \
            -p ${{ env.PERSONAL_ACCESS_TOKEN }} \
            -s -o ${{ github.event.inputs.organization }} \
            -r ${{ github.event.inputs.repository }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08  # v4.6.0
        with:
          name: audit-result
          path: ./edfi-repo-auditor/reports/*
          if-no-files-found: error
          retention-days: 10
